form(onSubmit=props.onSubmit)
    button.btn.btn-primary(data-target='#addConnection', type='button', data-toggle='modal') add connect...
    .modal.fade#addConnection(tabIndex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title add a connection
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') \&times;
                .modal-body
                    .form-group.row
                        label.col-sm-2.col-form-label(for='name') name
                        .col-sm-10
                            input#name.form-control(value=props.field.name, name='name', type='text', onChange=props.onFieldChange)
                    .form-group.row
                        label.col-sm-2.col-form-label(for='hostname') hostname
                        .col-sm-10
                            input#hostname.form-control(value=props.field.hostname, name='hostname', type='text', onChange=props.onFieldChange)
                    .form-group.row
                        label.col-sm-2.col-form-label(for='port') port
                        .col-sm-10
                            input#port.form-control(value=props.field.port, name='port', type='text', onChange=props.onFieldChange)
                    .form-group.row
                        label.col-sm-2.col-form-label(for='inputPassword') password
                        .col-sm-10
                            input#inputPassword.form-control(value=props.field.password, name='password', type='password', placeholder='Password', onChange=props.onFieldChange)
                    .form-group.row
                        label.col-sm-2.col-form-label(for='db') database
                        .col-sm-10
                            input#db.form-control(value=props.field.db, name='db', type='number', onChange=props.onFieldChange)
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') close
                    button.btn.btn-primary(type='submit') connect...